<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Drive</h1>
    <h1>current folder: <%= currentFolder.name %></h1>
    <nav>
        <% breadCrumbs.forEach((bc) => { %>
            <a href="/folders/<%= bc.id %>"><%= bc.name %></a> >
        <% }) %>
    </nav>
    <div>
        <h2>folders</h2>
        <button class="newFolderButton" onClick="window.location.href='/folders/<%= currentFolder.id%>/new'">
            create new folder
        </button>
        <% childFolders.forEach((folder)=> { %>
            <%- include('folder', {folder: folder}) %>
        <%})%>
    </div>
    <div>
        <h2>files</h2>
        <button class="newFolderButton" onClick="window.location.href='/folders/<%= currentFolder.id%>/files/new'">
            add new file
        </button>
        <% files.forEach((file)=> { %>
            <%- include('file', {file: file}) %>
        <%})%>
    </div>
</body>
</html>